<div class="panel">
    <div class="panel-heading bg-primary cursor" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
      <h4 class="panel-title">
         2 CANDIDATE REQUIREMENTS
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ng-include src="'partials/candidaterequirements.html'"></ng-include>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading bg-primary cursor" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
      <h4 class="panel-title">
         3 INTERVIEW PROCESS
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ng-include src="'partials/interviewprocess.html'"></ng-include>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading bg-primary cursor" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
      <h4 class="panel-title">
         4 SHARING DETAILS
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <ng-include src="'partials/sharingdetails.html'"></ng-include>
      </div>
    </div>
  </div>